

<div id="outer-wrap">
<div id="inner-wrap">
	




  <div id="main" role="main">
        <article>







<div id="go-to-top"></div>
<%= render 'navigation' %>
<%= render 'intro' %> 
<div id="go-down"></div>
<%= render 'app_screenshot' %>
<%= render 'call' %>





<div class="xsmall-section bg-dark">
<div class="container text-center">
<a data-scroll href="#go-to-top"><h1>GO TO TOP</h1></a>
</div>
</div>

	

       </article>
    </div>

    </div>
<!--/#inner-wrap-->
</div>
<!--/#outer-wrap-->
<%= javascript_include_tag "main" %>

<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->

