<!DOCTYPE html>
<html>
<head>
  <title>Stuk.io</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>









<%= yield %>

<script>


$(document).ready(function(){
$.preloadImages = function() {
  for (var i = 0; i < arguments.length; i++) {
    $("<img />").attr("src", arguments[i]);
  }
}

$.preloadImages("<%= image_path 'monthmentor_logo_white.png' %>","<%= image_path 'monthmentor_logo.png' %>");
});

</script>

</body>
</html>
